@model IEnumerable<CargoEmpty.Models.General.User.UserSearch>



<div class="col-12 col-lg-12" style="position:absolute;z-index:99;">
    <ul style="list-style-type: none;width:100%;padding-left:0px!important;">


        @{
            foreach (var i in Model)
            {
                <li class="SearchResponseLi"><a  href="/User/CustumerDetails/@i.Id">@i.FirstName @i.LastName | @i.UserCode</a></li>
            }
        }
    </ul>
</div>



