  <!-- Service process start -->

<div class="wshipping-content-block service-process" style="margin-top:50px;text-align: center;">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3" style="text-align: center;">
                <div class="section-title">
                    <h2>Necə İşliyir</h2>

                </div>
            </div>
        </div>
        <div class="row ProcessIconsMainRow">
            <div class="col-md-3 col-sm-6 col-6 ProcessIconColDiv">
                <div class="ProcesIconImagDiv">
                    <span>1</span>
                    <img src="~/Image/Front/Home/process-icon1.png" alt="" />
                </div>
                <p>Məhsulları seçin</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6 ProcessIconColDiv">
                <div class="ProcesIconImagDiv">
                    <span>2</span>
                    <img src="~/Image/Front/Home/process-icon2.png" alt="" />
                </div>
                <p>Ödəniş edin</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6 ProcessIconColDiv">
                <div class="ProcesIconImagDiv">
                    <span>3</span>
                    <img src="~/Image/Front/Home/process-icon3.png" alt="" />
                </div>
                <p>Bəyannaməni doldurun</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6 ProcessIconColDiv" id="ProseccLastColDiv">
                <div class="ProcesIconImagDiv">
                    <span>4</span>
                    <img src="~/Image/Front/Home/process-icon4.png" alt="" />
                </div>
                <p>Məhsulu qapiniza gətirək</p>
            </div>
        </div>
    </div>
</div>

<!-- service process end -->
