@model IEnumerable<CargoEmpty.Models.General.Order.OrderStatus>


<select name="OrderStatuse" class="form-control">
    @foreach (var i in Model)
    {
        <option value="@i.Id">@i.StatusName</option>

    }
</select>