@model IEnumerable<CargoEmpty.Models.General.Order.OrderStatus>

<form action="/Bundel/ChangeStatus" method="post" id="IndexBundelStatusForm" enctype="multipart/form-data">
    <input id="changeStatusModalBundelId" type="hidden" name="Id" value="@ViewBag.bundelId" />
    <div class="col-12 col-lg-12 BundelForeignWarehouseModalMainDiv">
        <div class="row">
            <div class="col-12 col-lg-12 ForeignWarehouseModalShowDiv">
                <span>Status</span>
                <div>
                    <select name="OrderStatusId" class="form-control" id="BundelIndexStatusSelect">
                        @foreach (var i in Model)
                        {
                            <option value="@i.Id">@i.StatusName</option>

                        }
                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-12 ForeignWarehouseModalHiddenDiv">
                
            </div>
            <button type="submit" class="changeStatusSubmitButton" style="display:none;"></button>
        </div>
    </div>
</form>



