@model CargoEmpty.Models.General.User.ForgetThePassword
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="SignUpMainDiv" style="width:100%;height:auto;">
    <div class="Container">
        <div class="row">
            <div class="col-lg-4 col-12 offset-lg-4" style="position:absolute; margin-top:20px;height:418px;">
                @* <img src="~/Image/Front/SignUp/1.jpg" alt="Alternate Text" style="width:100%;height:100%;" />*@
            </div>
            <div class="col-lg-8 col-12 offset-lg-2" id="signupcolMainDivId">
                <form action="/UserLogin/ForgetPassword" method="post" class="forum-group">
                    <div class="row">
                        <div class="col-lg-6 col-12 offset-lg-3 LogininputColDiv" style="margin-top:50px">
                            <label style="text-align:center">Adiniz</label>
                            <div>
                                <input type="text" name="FirstName" value="" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 offset-lg-3 LogininputColDiv" style="margin-top:50px">
                            <label>Soy Adiniz</label>
                            <div>
                                <input type="text"  name="LastName" value="" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 offset-lg-3 LogininputColDiv" style="margin-top:50px">
                            <label>Emailiniz</label>
                            <div>
                                <input type="email"  name="Mail" value="" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 offset-lg-3" style="margin-top:20px;text-align:center">
                            <div>
                                <button type="submit" class="btn btn-danger" style="width:100%;margin-top:25px">Daxil Ol</button><br />
                                <a href="/UserLogin/Login">Login</a>
                                <hr />
                                <a href="SignUp/Index">Sign Up</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div style="height:100px;"></div>


