<ul id="accauntsettingUl">
    <li class="activeAccountLink"><a href="/MyAccount/Index" title="">Ünvanlarım</a></li>
    <li><a href="/Orders/IndexUser" title="">SİFARİŞLƏRİM</a></li>
    <li><a href="#" title="">TƏNZİMLƏMƏLƏR</a></li>
    <li><a href="#" title="">Balans (SİFARİŞLƏR)</a></li>
    <li><a href="#" title="">Balans (XİDMƏTLƏR)</a></li>
    <li><a href="#" title="">Sorğular</a></li>
    <li><a href="#" title="">Mesajlar </a></li>
    <li><a href="#" title="">Çıxış</a></li>
</ul>
