

<ul id="accauntsettingUl">
    <li class=active><a href="https://vipex.az/profile" title="">Ünvanlarım</a></li>
    <li><a href="https://vipex.az/myorders" title="">SİFARİŞLƏRİM</a></li>
    <li><a href="https://vipex.az/settings" title="">TƏNZİMLƏMƏLƏR</a></li>
    <li><a href="https://vipex.az/balance" title="">Balans (SİFARİŞLƏR)</a></li>
    <li><a href="https://vipex.az/balanceService" title="">Balans (XİDMƏTLƏR)</a></li>
    <li><a href="https://vipex.az/inquiries" title="">Sorğular</a></li>
    <li><a href="https://vipex.az/messages" title="">Mesajlar </a></li>
    <li><a href="https://vipex.az/logout" title="">Çıxış</a></li>
</ul>
