@model CargoEmpty.Models.Pages.News.NewsDbModel


<form class="form-group" action="/News/DeletePost" method="post">
    <input readonly type="hidden" id="CaruselDeleteModalId" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label class="control-label col-md-2">Title: </label>
        <div class="col-md-10">
            <input readonly type="text" id="NewsDeLeteModalTitle" name="Title" class="form-control" value="@Model.NewsTitle">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Text: </label>
        <div class="col-md-10">
         
            <span  id="NewsDeLeteModalText" name="Text" class="form-control" style="max-width:360px;height:auto;">  @( new HtmlString(Model.NewsContent))</span>
        </div>
    </div>

    <div class="form-group" id="EditImgDiv">
        <label class="control-label col-md-2">News Image </label>
        <img src="@Model.ImagePath" id="NewsDeLeteModalImage" alt="no picture yet" style="width:50%; height:100px" />
    </div>

    <div>
        <p>
            <span style="color:red">Diqqet!!!</span> <button class="btn btn-danger" type="button">Delete</button> Xeberi Silecek<br />
            ve Geri Qaytarmaq Mumkun Deyil
        </p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" data-id="">Delete</button>
    </div>
</form>


