@*@model CargoEmpty.Models.Pages.News.NewsDbModel

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/AdminShared/_AdminLayout.cshtml";
}

<h2>View1</h2>

<div>
    @( new HtmlString(Model.NewsContent))
    @(new HtmlString(Model.NewsContent))
</div>*@